; Default configuration file - can be overridden via -c command line option
{
  :symphony-coords {
    :session-auth-url #env SESSIONAUTH_URL
    :key-auth-url     #env KEYAUTH_URL
    :agent-api-url    #env AGENT_URL
    :pod-api-url      #env POD_URL

    :trust-store [#env TRUSTSTORE_FILE    #env TRUSTSTORE_PASSWORD]
    :user-cert   [#env BOT_USER_CERT_FILE #env BOT_USER_CERT_PASSWORD]

    :user-email  #env BOT_USER_EMAIL
  }

  :github-coords {
    ; Only one of these needs to be provided - if both are provided, only :token will be used
    :token              #env GITHUB_TOKEN
    :login              [#env GITHUB_USERNAME #env GITHUB_PASSWORD]

    :org                #or [#env GITHUB_ORG "symphonyoss"]
    :mask-private-repos #boolean #or [#env MASK_PRIVATE_REPOS true]   ; Should the tool mask private repos it has access to?
    :masked-repos       #split [#env MASKED_REPOS "\\s*,\\s*"]        ; Other named repos the tool should mask (may be private or public)
  }

  ; For details, see https://github.com/rhuss/jolokia/blob/master/agent/jvm/src/main/resources/default-jolokia-agent.properties
  ; Note: All keys and values MUST be strings - this is a Jolokia requirement
  :jolokia-config {
    "host"  #or [#env JOLOKIA_HOST "*"]
    "port"  #or [#env JOLOKIA_PORT "8778"]
    "debug" #or [#env JOLOKIA_DEBUG "false"]
  }

  ; The interval (in minutes) for checking and accepting new connection requests
  :accept-connections-interval #long #or [#env ACCEPT_CONNECTIONS_INTERVAL 30]

  :admin-emails #split [#env ADMIN_EMAILS "\\s*,\\s*"]
}
